<div class="sidebar">
    <div class="sidebar-section">
        <h5><span>Recommended Products</span></h5>
        <ul class="list-none;">
     
          <a rel="noopener noreferrer nofollow" target="_blank" href="http://bit.ly/3nGakOj"><img src="../../../../../assets/img/The-Smoothie-Diet-1.jpg" alt="The Smoothie Diet" title="The Smoothie Diet" /></a><br /><br />
          <a rel="noopener noreferrer nofollow" target="_blank" href="https://shrsl.com/2y5jx"><img src="../../../../../assets/img/Immune-boost-250-208.jpg" alt="taking care of your immune system" title=" Boost Your Immune System" /></a><br /><br />
          <a rel="noopener noreferrer nofollow" target="_blank" href="http://bit.ly/3aVnNMJ"><img src="../../../../../assets/img/Okinawa-Flat-Belly-Tonic.jpg" alt="Okinawa Flat Belly Tonic"  title="Okinawa Flat Belly Tonic" /></a><br /><br />
          <a rel="noopener noreferrer nofollow" target="_blank" href="https://shrsl.com/2p3am"><img src="../../../../../assets/img/multi-vitamin-benefits-3-250-250.jpg" alt="multi vitamin" title="multi vitamin" /></a><br />
         
        </ul>
    </div>
    <ul class="tag-box inline"> 
      <h5><span>Category</span></h5>   
      {% for category in site.categories %}
      <div><h6> <a href="/category/{{ category[0] }}/" style="text-decoration: none;">{% if category[0] == 'aws' %}{{ category[0] | upcase }}{% else %}{{ category[0] | capitalize | replace:'-' , ' '   }}{% endif %}</a></h6></div>
        <ul>
        {% for post in category.last %}
        <div><a href="{{ post.url }}" style="text-decoration: none;">{{ post.title }}</a></div>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
                </ul> 
                <ul class="tag-box inline"> 
                  <h5><span>FREE OFFER</span></h5>
                  {% include ebookForm.html %}
                 </ul>         
</div>
 












