<div class="mainform">
    <!-- Sign up form -->
    <section class="signup">
      <div class="containerform">
        <div class="signup-content">
          <!-- Div for Image -->
          <div class="signup-image">
            <figure>
              <h3 class="form-title">Usubscription Form</h3>
              <img src="../../../../../assets/images/unsubscribe.jpg" alt="unsubscribe image"></figure>
            <div class="signup-form">
              <h4 class="form-title"> We are sorry, that you wish to unsubscribe from the
                Lifestyle change list,  <br />but we'll try our best next time to
                send you interesting and helpful information. </h4>

                <h4 class="form-title">To Unsubscribe, <br />
                    please enter your name & the exact email address when you signed up to the form below & click <b>Unsubscribe Me.</b></h4>

                    <script type="text/javascript">var submitted=false;</script> 
                    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='{{ site.baseurl }}/unsubscribed/index.html';}"></iframe> 
                    <form action="https://docs.google.com/forms/d/e/1FAIpQLScv4kADtJ9LfgVi6Z2hIFgaLDhZf1QWs0zZoFQt0p1HINAdmQ/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;" class="register-form" id="register-form">
                      <legend for="1379147550"></legend>

                <div class="form-group2"> 
                <input name="entry.343174923" id="343174923" placeholder="Your Name"type="text" ></div>

                <div class="form-group2"> 
                <input name="emailAddress" id="emailAddress" placeholder="Your Email" type="email" required>
                </div>

                <input type="hidden" name="pageHistory" value="0">

                <div class="form-group2 form-button"> 
                <input name="signup" id="signup" class="form-submit" value="Unsubscribe Me" type="submit"> </div>

                <input type="hidden" name="fvv" value="1">
                <input type="hidden" name="fbzx" value="5211993960924053249">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
