---
layout: default
title: Archive
---
<!-- Begin List Posts
================================================== -->
<section class="row recent-posts">
    <div class="col-md-8 col-lg-8">
        <div class="section-title">
            <h2><span>{{ page.type }}: {{ page.title | replace:'-' , ' ' }}</span></h2>
        </div>
        <div class="masonrygrid row listrecent">
            {% for post in page.posts %}
            {% include postbox.html %}
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 col-lg-4">
        <div class="sidebar-right">
            {% if page.url contains "exercise-for-fitness-and-fat-loss" %}
            {% include sidebar-exercise-weightloss.html %}
            {% endif %}
            {% if page.url contains "dieting-and-weight-loss" %}{% include sidebar-dieting-weightloss.html %}
            {% endif %}
            {% if page.url contains "vitamins-and-minerals" %}{% include sidebar-vitamins-minerals.html %}
            {% endif %} 
            {% if page.url contains "losing-weight" %}{% include sidebar-dieting-weightloss.html %}
            {% endif %}
            </div>
</div>
</section>